* {

	font-family: 'Roboto', sans-serif;
	line-height: 1.5em;
	letter-spacing: 1px;
	margin: 0;
	padding: 0;

}


body {

	font-size: 1.1em; /* 1rem maybe */
	height: 100vh;
	color: #0f0f0f;
	overflow: hidden;

}

.container {

	width: 100%;
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;

}

.nav {

	display: flex;
	position: fixed;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 4.2em;
	background: rgba(55, 63, 81, 0.9);

}

.nav a {

	color: #373f51;
	padding: 1em;
	font-size: 1.25em;
	text-decoration: none;

}

.nav ul {

	display: flex;
	list-style: none;
	justify-content: center;
	width: 100%;

}

.nav ul li {

	margin: 0 1.2em;
	padding: 1.2em;

}

.nav ul li a {

	text-decoration: none;
	text-transform: uppercase;
	color: white;

}

.nav a:hover {

	color: #373f51;
	background-color: white;

}

section {

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	scroll-snap-align: center;

}

h1, h2, h3, h4 {

	font-family: 'Arial', sans-serif;
	font-weight: 700;

}

section h1 {

	font-size: 50px;
	padding-bottom: 10px;
	color: white;

}

section h2 {

	font-size: 50px;
	padding-bottom: 0.3em;
	text-transform: uppercase;
	color: #373f51;

}

section h3 {

	font-size: 50px;
	padding-bottom: 0.3em;
	text-transform: uppercase;
	color: white;

}

section h4 {

	font-size: 20.25px;
	color: #373f51;
	padding: 0.2em;
	margin-left: 15px;

}

section#home {

	padding: 15em 1em;
	text-align: center;
	box-sizing: border-box;
	background-color: #373f51;

}

.container-about {

	width: 60%;
	height: 50vh;
	color: white;
	padding-top: 1em;

}

.left {

	width: 40%;
	height: 45vh;
	float: left;
	background-color: #373f51;
	overflow-y: auto;
	margin-top: 10px;

}

.left ul {

	text-align: left;
	margin-left: 20px;
	margin-right: 10px;

}

.left ul li {

	text-align: left;
	margin-left: 15px;
	padding-bottom: 10px;

}

.right {

	width: 40%;
	height: 45vh;
	float: right;
	background-color: #373f51;
	overflow-y: auto;
	margin-top: 10px;

}

.right ul {

	text-align: left;
	margin-left: 20px;
	margin-right: 10px;

}

.right ul li {

	text-align: left;
	margin-left: 15px;
	padding-bottom: 10px;

}

#about-me p {

	padding: 0.5em;

}

.container-about p {

	font-size: 22px;
	font-weight: bold;
	margin: 1.4em;

}

body a {

	text-decoration: none;
	color: #505661;
	font-weight: 700;

}

section#projects {

	padding: 15em 1em;
	text-align: center;
	box-sizing: border-box;
	background-color: #373f51;
	color: white;

}

.project-items {

	margin: 1.3em;
	width: 45vw;
	background-color: white;
	color: #373f51;
	text-align: left;

}

.project-items ul {

	text-align: left;
	margin-left: 25px;
	margin-right: 10px;

}

.project-items ul li {

	text-align: left;
	margin-left: 25px;
	padding-bottom: 10px;

}

section#projects p {

	margin-bottom: 1em;

}


section#projects a {

	color: #6d8daf;

}

@media only screen and (max-width: 1833px) {

	.container-about {

		width: 90%;
	
	}

	.left {

		width: 45%;

	}

	.right {

		width: 45%;

	}

	.project-items {

		width: 60vw;
	
	}

}

@media only screen and (max-height: 1050px) {


	.project-items {

		margin: 0 0 0.4em 0;
		padding: 0;
		font-size: 14px;
		width: 100%;

	}
	
	section h2 {

		font-size: 20px;

	}

	#about-me {

		font-size: 16px;

	}

	#projects {

		font-size: 16px;

	}

	section h3 {

		font-size: 20px;

	}

	.project-items ul {

		margin: 0;
		padding: 0;
	
	}
	
	.project-items ul li {
	
		margin: 2px;
		padding: 2px;
	
	}

	.nav {

		font-size: 14px;
	
	}
	
	
	.nav ul {
	
		font-size: 14px;
	
	}
	
	.nav ul li {
	
		font-size: 14px;
	
	}

}

@media only screen and (max-width: 708px) {

	.nav {

		font-size: 12px;
	
	}
	
	
	.nav ul {
	
		font-size: 12px;
	
	}
	
	.nav ul li {
	
		font-size: 12px;
	
	}

	section h2 h3 {

		font-size: 18px;

	} 


}

@media only screen and (max-width: 600px) {

	.nav {

		font-size: 8px;
	
	}
	
	
	.nav ul {
	
		font-size: 8px;
	
	}
	
	.nav ul li {
	
		font-size: 8px;
	
	}

	.left p {

		font-size: 15px;

	}

	.right p {

		font-size: 15px;

	}
	
	section h1 {

		font-size: 40px;

	}

	* {

		font-size: 12px;

	}

	section h2 {

		font-size: 12px;
		margin-top: 12px;

	}

	section h3 {

		font-size: 12px;
	}

	section h4 {

		font-size: 12px;

	}


}